<W3Icons />

 <div class="form-container">
    <div class="form-group row ">


        
        <div class="alert alert-info d-flex col-md-4" role="alert">
            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Info:"><use xlink:href="#info-fill" /></svg>            
                Настройки импорта файла поставщика задаются через параметры ниже.
                <br />Они включают номера колонок из файла, их использование, ручное назначение.
                <br />
         </div>

        <div class="alert alert-danger d-flex col-md-4" role="alert">
            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill" /></svg>
            Поле разрешить массовую загрузку должно быть включено, иначе поставщик не будет доступен для импорта файлов.
            <br />
            Включать его надо после того, как введены необходимые настройки.

            </div>




    <div class="alert alert-success d-flex col-md-4" role="alert">
        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill" /></svg>

        Примеры ручного назначения:
        <br />
        Пример 1 - одна фирма производитель в файле (Gerat), поэтому его явно не указывают в какой-то из колонок.
        <br />
        Пример 2 - одинаковое описание товаров, когда в файле только диски - пишем тормозные диски.
        
    </div>
    </div>

</div>