@page "/suppliers"
@inject ICrud sql

<h3>Suppliers</h3>


@if (suppliers != null)
{
    <ul>
        @foreach (var supplier in suppliers)
        {
            <li>@supplier.id @supplier.supplier @supplier.prefix</li>
        }
    </ul>
}


@code {

    private IReadOnlyList<Supplier>? suppliers;

    protected override async Task OnInitializedAsync()
    {
        suppliers = await sql.GetAllSuppliersAsync();
    }

}
