@page "/supplierRazor"
@model SuppliersBlazor.Pages.SupplierEntryModel 
@{
    ViewData["Title"] = "Поставщик";
}

<h1>Поставщик</h1>

<form>
    <div class="form-group">
        <label>

        </label>
    </div>
</form>