@page "/suppliers"


@attribute [Authorize(Roles = "Administrator, Manager")]

@inject ICrud sql
@inject NavigationManager Navigator

<W3Icons />

<div class="form-group row">
        <div class="col-md-6">
            <h3>Поставщики</h3>
            @* Вывод всех поставщиков *@
            
            <div class="alert alert-info d-flex align-items-center" role="alert">
                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Info:"><use xlink:href="#info-fill" /></svg>
                <div>
                    Ниже представлены все введенные поставщики с их настройками. 
                    <br />
                    Для редактирования настроек поставщика кликните на поставщика.
                </div>
            </div>
                
        </div>
        <div class="col-md-6">
    <h3>Добавление нового поставщика</h3>

    <br />
    <ErrorBoundary>
        <ChildContent>
                <div class="d-grid gap-2 col-6 mx-auto">
                <button class="btn btn-outline-primary" @onclick="OnClick">Создать поставщика</button>
                </div>
        </ChildContent>
    </ErrorBoundary>
    <br />

    <br />
    </div>
</div>

            @if (suppliers == null)
            {
                <h4>Загрузка...</h4>
            }
            else
            {

                <div class="form-container table-striped col-md-6">

                    @foreach (var supplier in suppliers)
                    {
                        <div class="form-group row col-md-12">
                            <div class="col-md-8">
                    <label class="align-middle">
                        <a href="supplierentry/@supplier.id" class="link-primary">@supplier.id @supplier.supplier @supplier.prefix </a>
                            </label>
                            </div>
                            <AuthorizeView Roles="Administrator">
                                            <Authorized>
                        <div class="col-md-4 d-grid gap-2 d-md-flex justify-content-md-end">
                                @if (idToDelete == supplier.id)
                                {
                                <button class="btn btn-danger me-md-2 margin-right: 0" @onclick="(() => DeleteSupplier(supplier.id))">
                                        Подтвердить удаление
                                    </button>
                                }
                                else
                                {
                                <button class="btn btn-outline-danger me-md-2 margin-right: 0" @onclick="(() => idToDelete = supplier.id)">
                                        Удалить
                                    </button>
                                }
                            </div>
                                        </Authorized>
                             </AuthorizeView>


                        </div>
                    }
                </div>



            }














@code {

    //private string? errorMessage;

    private async Task OnClick()
    {

        Navigator.NavigateTo($"createsupplier");

    }

    private IList<ISupplier>? suppliers;

    private int idToDelete = 0;

    private async Task DeleteSupplier(int id)
    {
        await sql.RemoveSupplier(id);
        suppliers.Remove(suppliers.Where(x => x.id == id).FirstOrDefault());
        idToDelete = 0;
    }



    protected override async Task OnInitializedAsync()
    {
        suppliers = await sql.GetAllSuppliersAsync();
    }


}
